@import url('https://fonts.cdnfonts.com/css/cascadia-code');

body {
  margin:10px;
  margin-bottom:80px;
}

/* Styles for the overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Styles for the modal content */
.modal {
  background-color: #fff;
  padding: 20px; /* Adjust padding as needed */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Box shadow for a subtle effect */
  max-width: 80%; /* Adjust the maximum width as needed */
  max-height: 80%; /* Adjust the maximum height as needed */
  overflow: auto; /* Enable scrolling for smaller screens */
  position:relative;
}

/* Close button style (optional) */
.closeButton {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  color: grey;

}

.viewCard {
  padding-bottom:42px;
  white-space:pre-wrap;
}

.next-button, .previous-button {
  position: absolute;
  bottom: 14px;
  cursor: pointer;
  font-size: 36px;
  color: red;
}

.previous-button {
  left: 32px;
}

.next-button {
  right: 32px;
}

strong {
  font-weight:600;
}

.cardPath {
  font-size:0.8rem;
  margin-top:0px;
}



.deleteCardButton {
  color:red;
  font-size:24px;
}

.required:after {
  content:" *";
  color: red;
}


.cardInput {
  min-width:24px;
  outline: grey 1px solid;
  margin: 0 4px;
  padding : 3px;
  line-height: normal;
}

.cardInput:focus {
  outline:black 2px solid;
}

.cardInput.answered {
  border:grey 1px solid;
}

.cardInput, .beforeInput, .afterInput {
  font-family: 'Cascadia Code', monospace;
}


.caredInput:focus {
  border:black 2px solid;
}

.inline {
  display: inline-block;
}

.showAnswer, .actions {
  display:block;
}

.studyCard .actions {
  margin-top:15px;
}

.studyCard nav {
  display:inline-flex;
  gap:10px;
}

.addCard.modal label {
  display:flex;
  margin-bottom: 8px;
  white-space: nowrap;
}

.field > p {
  display:flex;
  margin-bottom: 8px;
  white-space: pre-wrap;
}

.deckActions {
  display:flex;
  gap:10px;
}

.addCardButton {
  display:block;
}

.addCard div[contenteditable="true"], .viewCard div[contenteditable="true"], .viewCard li[contenteditable="true"] {
  border: 1px solid grey;
  display:inline-block;
  width:100%;
  cursor:text;
}

.viewCard li[contenteditable="true"] {
  margin-bottom:5px;
}

.editIcon {
  cursor:pointer;
  width:18px;
  height:18px;
  display:inline-block;
  vertical-align:middle;
  margin-top:4px;
}

.overlay .actions {
  display:flex;
  align-items:center;
  gap:10px;
}

.viewCard h1 {
  margin-bottom:2px;
  margin-top:6px;
}

a {
  color:#0070E0;
}

a:visited {
  color:#0070E0;
}

a:hover {
  color:#0050A0;
  font-weight:bold;
}

.deleteDeckButton {
  text-decoration:underline;
}

.deleteDeckButton:hover {
  font-weight:bold;
  cursor:pointer;
}

.deckList {
  display:flex;
  flex-direction:column;
  gap:16px;
}

.deckList .deckItem li {
  display:inline-block;
}

.cardList {
  display:flex;
  gap:5px;
  flex-direction:column;
}

.cardListItem {
  padding:5px;
  border:1px solid #3EB2FD;
}

.cardListItem p {
  margin-bottom:3px;
}

.cardListItem li {
  display:inline-block;
  cursor:pointer;
}

.cardListItem .cardActions, .studyCard .actions {
  display:flex;
  gap:6px;
  align-items:center;
}

.cardListItem .cardActions span {
  cursor:pointer;
}

.viewCardIcon {
  width:32px;
  height:32px;
  margin-top:4px;
  cursor:pointer;
}

h1 {
  margin-top:0px;
}

.multipleChoice .choice {
  display:block;
}



button {
  align-items: center;
  appearance: none;
  background-color: #3EB2FD;
  background-image: linear-gradient(1deg, #4F58FD, #149BF3 99%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-flex;
  font-family: CircularStd,sans-serif;
  height: auto;
  justify-content: center;
  padding: 6px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s,background-position .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

button:active,
button:focus {
  outline: none;
}

button:hover {
  background-position: -20px -20px;
}

button:focus:not(:active) {
  box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
}

.buttonForm {
  display:flex;
  gap:10px;
  align-items:center;
}

.author {
  font-size:0.8rem;
  margin-top:0px;
}

.author span {
  font-weight:bold;
}

.moduleActions {
  display:inline-flex;
  gap:5px;
  align-items:center;
}

.moduleActions span {
  cursor:pointer;
}

.populatedModule h2 {
  display:inline-block;
  margin-right:10px;
}

.deleteModuleButton {
  margin-top:-3px;
  font-size:24px;
}

.studyCard .label {
  font-family:"Tahoma", sans-serif;
}

.reviewDateInfo {
  font-size:0.8rem;
  margin-bottom:0px;
  font-family:"Tahoma", sans-serif;
}

.studyCard {
  white-space:pre-wrap;
}

.emptyField {
  color:grey;
  font-size:0.8rem;
  font-style:italic
}

.choice.wrongAnswer {
  color: red;
}

.choice.correctAnswer {
  color: green;
}



.gradientBorder {
  --borderWidth: 3px;
  position: relative;
  border-radius: var(--borderWidth);
}
.gradientBorder:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


